# Compiled binary
*.exe
*.out
*.o

# Build artifacts
*.obj
*.log
*.bak
*.tmp

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*~
*.swp
